*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Montserrat', sans-serif;
}

fieldset {
    padding: 20px 30px;
}

legend {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 15px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: black;
}

div {
    margin-top: 1.5rem;
}

label {
    display: block;
    font-weight: 400;
    font-size: 1.375rem;
    margin-bottom: 0.5rem;
}

input {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid #ddd;
}

button {
    appearance: none;
    border: none;
    outline: none;
    display: block;
    width: min-content;
    margin: 1rem auto;
    padding: 10px 15px;
    font-size: 1.375rem;
    font-weight: 400;
    color: white;
    background-color: black;
    cursor: pointer;
}

button:focus {
    outline: 2px solid black;
    outline-offset: 2px;
}

button:active {
    background-color: rgba(0, 0, 0, 0.65);
}

p {
    text-align: center;
}
